body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
   }
   
img {
      width: 90vw;  /* The image takes 60% of the viewport width */
      height: auto; /* Maintain aspect ratio */
      display: block; /* Remove default extra spacing */
      margin: 5vh auto; /* Keep 20% margin from top and bottom, and auto-center horizontally */
   }  